<header>
    <div id="title">
       <a href="/">
            <img src="assets/cag-logo.svg">
        </a>
    </div>
    <nav>
        <div class="nav-button">
            <a href= "artists">Artists</a>
        </div>
        <div class="nav-button">
            <a href= "artwork">Artwork</a>
        </div>
        <div class="nav-button">
            <a href= "frames">Frames</a>
        </div>
        <div class="nav-button">
            <a href= "patrons">Patrons</a>
        </div>
        <div class="nav-button">
            <a href= "transactions">Transactions</a>
        </div>
    </nav>
</header>