<div id="body">
    <div class="data-entry">
        <div class="datat-title">
            <h2>Create Entry</h2>
        </div>
        <form id="add-patron-form" method="POST" action="/add-patron-form">
            <label for="input-fname">First Name</label><br>
            <input type="text" name="input-fname"><br>

            <label for="input-lname">Last Name</label><br>
            <input type="text" name="input-lname"><br>

            <label for="email">Email</label><br>
            <input type="text" name="email"><br>

            <label for="address">Address</label><br>
            <input type="text" name="address"><br>

            <div class="submit-button-container">
                <button id="submitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="data-display">
        <h2>Patrons</h2>

        <div class="title-row">
            <div class="medium-row-item">
                <h3>First Name</h3>
            </div>
            <div class="medium-row-item">
                <h3>Last Name</h3>
            </div>
            <div class="large-row-item">
                <h3>Email</h3>
            </div>
            <div class="medium-row-item">
                <h3>Address</h3>
            </div>
        </div>
        {{#each data}}
            <div class="row">
                <div class="medium-row-item">
                    <p>{{this.first_name}}</p>
                </div>
                <div class="medium-row-item">
                    <p>{{this.last_name}}</p>
                </div>
                <div class="large-row-item">
                    <p>{{this.email}}</p>
                </div>
                <div class="medium-row-item">
                    <p>{{this.address}}</p>
                </div>
                <div class="button-container">
                    <button class="edit-button">Update</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>